@font-face {
  font-family: 'ShayanWeb-Font';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url('../fonts/Sahel/Sahel-FD.woff2') format('woff2');
}

@font-face {
  font-family: 'ShayanWeb-Font';
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url('../fonts/Sahel/Sahel-Bold-FD.woff2') format('woff2');
}

@font-face {
  font-family: 'ShayanWeb-Font';
  font-style: normal;
  font-display: swap;
  font-weight: lighter;
  src: url('../fonts/Sahel/Sahel-Light-FD.woff2') format('woff2');
}