@font-face {
  font-family: 'ShayanWeb-Font';
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: url('../fonts/Vazirmatn/Vazirmatn-FD-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'ShayanWeb-Font';
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: url('../fonts/Vazirmatn/Vazirmatn-FD-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'ShayanWeb-Font';
  font-style: normal;
  font-display: swap;
  font-weight: lighter;
  src: url('../fonts/Vazirmatn/Vazirmatn-FD-Light.woff2') format('woff2');
}
